{% extends 'base.html' %}
{% block start %}

<div class="container mt-3">
    <h1 class="fw-bold">{{ post.title }}</h1>
    <p class="text-muted">By {{ post.user.first_name }} {{ post.user.last_name }} | {{ post.created_at }}</p>
    <hr>
    <div class="text-center">
    <img src="{{ post.img.url }}" class="img-fluid " style="max-height: 400px; object-fit: contain;">
    </div>   
    <hr>
    <p>{{ post.content }}</p>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-3 border border-dark border-4 rounded shadow-lg">
                <h1 class="mt-2 mb-3"> Comments({{total_comments}}) </h1>
                     {% for comment in comments %}
                     <div class="border border-dark border-3 rounded p-3 mt-2 mb-2">
                    <div><h4 class="text-danger fw-bold"> {{comment.user.first_name}}</h4> 
                        <span class="text-dark fs-6">{{comment.created_at}}</span> 
                        <div class="d-flex justify-content-end">
                        {% if request.user == comment.user or request.user == post.user %}
                        <a href="{% url 'deletecomment' post.slug comment.id %}" class="btn btn-danger"> Delete</a>
                        {% endif %}
                        </div>
                    </div>
                    <hr>
                    <p>{{comment.text}}</p> 
                    </div>
                    {% endfor %}
                 </div>
            <div class="col-md-6">
                <form class="mt-5 p-3 shadow-lg " method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 >Comment here</h1>
                <hr>
                 {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                
                <div class="col mb-3">
                    {{form.text}}
                </div>
                <button class="btn btn-primary btn-block" type="submit">Submit</button>          
            </div>
        </div>
    </div>
</div>

{% endblock %}